@font-face {
   font-family: 'Imperator';
   src: url('../fonts/Imperator.ttf');
}

@font-face {
    font-family: 'ImperatorBold';
    src: url('../fonts/ImperatorBold.ttf');
}

@font-face {
    font-family: 'ImperatorBronze';
    src: url('../fonts/ImperatorBronze.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Imperator, serif;
}

body {
    font-size: 12px;
    height: 100vh;
    overflow: hidden;
    background-size: cover !important;
}

.app {
    width: 100vw;
    height: 95vh;
    position: relative;
}

.app header {
    width: 100%;
    height: 70px;
}

.app .footer {
    bottom: 50px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between
}

.app .footer li {
    border-right: 1px solid #eee;
}

.app #main {
    display: block;
    width: 100%;
    height: calc(100vh - 170px);
}

#nextDay {
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 50px;
    line-height: 44px;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    background: #FE4900;
    color: #111;
    border: 0;
    width: 90%;
    border: 3px dashed #111;
    border-right: none;
    font-weight: bold;
    letter-spacing: 2px;
}

.hidden {
    display: none;
}